# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# updateTimeoutMilliseconds (int:1500) -- The timeout in milliseconds for the version update check.
# 
# Wed Dec 11 01:33:10 CET 2013
allowDebugOutput=false
allowUpdateCheck=true
updateTimeoutMilliseconds=1500
